.form {
  display: flex;
  flex-direction: column;

  > * {
    margin-bottom: $m-size;
  }
}

.form__error {
  margin: 0 0 $m-size 0;
  color: red;
  opacity: 0.6;
  font-size: 14px;
}

.form__money {
  @extend .form;

  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;

    .select-input,
    .text-input {
      margin-left: $s-size;
    }
  }
}
